<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/cand">Candidates</a></li>
            <li><a href="/stats">Statistcs</a></li>
        </ul>
    </nav>
</header>