<link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/stylesheets/header.css">

<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/cand">Candidates</a></li>
            <li><a href="/stats">Statistcs</a></li>
        </ul>
    </nav>
</header>