<link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/stylesheets/main.css">

<div>
    <h1 class='title'>Welcome to the Voting App</h1>
</div>

<div class="navi-bar">
    <a href="/vote">Vote</a> <!-- Need to figure out the proper nesting for this step -->
    <a href="/profiles">Candidate Profiles</a>
    <a href="/stats">Statistics</a>
</div>
