<link rel="stylesheet" href="/stylesheets/main.css">

<div>
    <h1>Welcome to the Voting App</h1>
</div>

<div>
    <form action='/cand/loggedin'method='POST'>
        <label>First Name:</label>
        <input type="text" name='first_Name'>
        <label>Last Name:</label>
        <input type="text" name='last_Name'>
        <label>Email:</label>
        <input type="email" name='email'>
        <button>Submit</button> 
    </form>
</div>