<div>
    <form action='/stats'method='GET'>
        <div><h2>Candidate 1</h2></div>
        <p>Bernie Sanders, Senator from Vermont</p>

        <div><h2>Candidate 2</h2></div>
        <p>Michael Bloomberg, former Mayor of New York City</p>
    </form>
</div>