<link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/stylesheets/profiles.css">

<div class='secondary-navi'>
    <%- include("../minors/header") %>
</div>

<div class='img-container'>
    <div class='candidate-info'>
        <div class='photo'>
            <img src='Joe Biden.png'/>
        </div>
        <div>
            <p>Joe Biden, former Vice President of the United States</p>
        </div>
        <div class="link-to-web">
            <a href="https://joebiden.com/joes-vision/">Campaign Platform</a>
        </div>
    </div>
    

    <div class='candidate-info'>
        <div class='photo'>
            <img src='Bernie Sanders.png'/>
        </div>
        <div>
            <p>Bernie Sanders, the United States Senator from Vermont</p>
        </div>
        <div class="link-to-web">
            <a href="https://berniesanders.com/issues/">Campaign Platform</a>
        </div>
    </div>
</div>